@font-face {
	font-family: Chalkduster;
	src: url('Chalkduster.ttf');
}

body {
	width: 100%;
	background: rgb(49,49,49);
	padding-top: 5px;
	font-family: Chalkduster;
	font-size: 12px;
	text-align: center;
	color: white;
}

p {
	margin: 0 auto;
	margin-top: 5px;
}

#title {
	font-size: 50px;
	margin-bottom: 10px;
	float: left;
}

#wrapper {
	margin: 0 auto;
	width: 900px;
}

#stickies {
	margin: 0 auto;
	padding: 0px;
	padding-top: 20px;
	padding-left: 50px;
	width: 750px;
	height: 530px;
	background-image: url('wallofhope-board.png');
	
	z-index:-1;
}

.sticky {
	margin: 0;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	padding-top: 20px;

	width: 180px;
	height: 170px;
	
	background-repeat: no-repeat;
	float: left;
	text-align: left;
}

.sticky:hover {
/*	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);*/
	cursor: pointer;
}

#sticky-yellow {
	background-image: url('wallofhope-sticky-yellow-pin.png');
}

#sticky-yellow:hover {
	background-image: url('wallofhope-sticky-yellow-pin2.png');
}

#sticky-blue {
	background-image: url('wallofhope-sticky-blue.png');
}

#sticky-pink {
	background-image: url('wallofhope-sticky-pink.png');
}

#sticky-green {
	background-image: url('wallofhope-sticky-green.png');
}

#sticky-orange {
	background-image: url('wallofhope-sticky-orange.png');
}

.sticky-text {
	font-family: Chalkduster;
	font-size: 10px;
	color: black;
	word-break: hyphenate;
	
	padding: 10px;
	padding-top: 15px;
	padding-right: 35px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(-10deg);

	/* Firefox */
	-moz-transform: rotate(-10deg);

	/* IE */
	-ms-transform: rotate(-10deg);

	/* Opera */
	-o-transform: rotate(-10deg);
}


#sticky-text-blue {
	padding: 15px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(1deg);

	/* Firefox */
	-moz-transform: rotate(1deg);

	/* IE */
	-ms-transform: rotate(1deg);

	/* Opera */
	-o-transform: rotate(1deg);
}

#sticky-text-pink {
	padding: 17px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(5deg);

	/* Firefox */
	-moz-transform: rotate(5deg);

	/* IE */
	-ms-transform: rotate(5deg);

	/* Opera */
	-o-transform: rotate(5deg);
}

#sticky-text-green {
	padding: 7px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(-6deg);

	/* Firefox */
	-moz-transform: rotate(-6deg);

	/* IE */
	-ms-transform: rotate(-6deg);

	/* Opera */
	-o-transform: rotate(-6deg);
}

#sticky-text-orange {
	padding: 15px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(1deg);

	/* Firefox */
	-moz-transform: rotate(1deg);

	/* IE */
	-ms-transform: rotate(1deg);

	/* Opera */
	-o-transform: rotate(1deg);
}

#share {
	margin: 0 auto;
	padding: 20px;
}

#chalkboard {
	margin: 0 auto;

	padding-top: 20px;
	width: 700px;
	height: 170px;

	//background-image: url('chalkboard.png');
	background-repeat: no-repeat;
	
	z-index: 1;
}

#message {
	margin-top: 5px;
	margin-right: 0px;
	
	padding: 10px;
	
	width: 310px;
	height: 60px;
	
	font-family: Chalkduster;
	color: #FFFFFF;
	
	background: #444;
	border: none;
	resize: none;
	
	-webkit-box-shadow: inset 2px 2px 2px 2px #333;
	-moz-box-shadow: inset 2px 2px 2px 2px #333;
	box-shadow: inset 2px 2px 2px 2px #333;
	
	border-radius: 10px;
	
	//float: left;
}

textarea:focus, textarea:hover {
	border: none;
	outline: 0;
}

#chalk-colors {
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 20px;
	//float: right;
}

.chalk:hover {
	cursor:pointer
}

.radio {
	float: right;
	margin-right: 30px;
	margin-top: -5px;
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;
    margin: -3px;
} 

input[type=radio] {  
    display: none;  
}

#yellow-label:before {background-image: url('chalk-yellow.png');}
#orange-label:before {background-image: url('chalk-orange.png');}
#green-label:before {background-image: url('chalk-green.png');}
#pink-label:before {background-image: url('chalk-pink.png');}
#blue-label:before {background-image: url('chalk-blue.png');}

label:before {  
    content: "";  
    display: inline-block;  
  
    width: 25px;  
    height: 25px;  
    
    position: absolute;  
}

input[type=radio]:checked + #yellow-label:before {
    background-image: url('chalk-selected.png'), url('chalk-yellow.png');  
}

input[type=radio]:checked + #orange-label:before {
    background-image: url('chalk-selected.png'), url('chalk-orange.png');  
}

input[type=radio]:checked + #green-label:before {
    background-image: url('chalk-selected.png'), url('chalk-green.png');  
}

input[type=radio]:checked + #pink-label:before {
    background-image: url('chalk-selected.png'), url('chalk-pink.png');  
}


input[type=radio]:checked + #blue-label:before {
    background-image: url('chalk-selected.png'), url('chalk-blue.png');  
}

#send {
	display: inline-block;  
    cursor: pointer;  
    position: relative;  
    
    margin-right: -40px;
    margin-left: 70px;
    height: 25px; 
    
	background: transparent;
	border: none;
	
	font-family: Chalkduster;
	color: #FFFFFF;
	
	float: right;
	
	-webkit-box-shadow: inset 0px 2px 2px 0px #777;
	-moz-box-shadow: inset 0px 2px 2px 0px #777;
	box-shadow: inset 0px 2px 2px 0px #777;
	
	border-radius: 10px;
}

#send:hover {
	-webkit-box-shadow: inset 0px 2px 2px 0px #DDD;
	-moz-box-shadow: inset 0px 2px 2px 0px #DDD;
	box-shadow: inset 0px 2px 2px 0px #DDD;
	
	border-radius: 10px;
}

#form {
	width: 320px;
	float: right;
}