@font-face {
	font-family: Chalkduster;
	src: url('Chalkduster.ttf');
}

body {
	width: 100%;
	background: rgb(49,49,49);
	padding-top: 10px;
	font-family: Chalkduster;
	font-size: 12px;
	text-align: center;
	color: white;
}

p {
	margin: 0 auto;
}

#title {
	font-size: 40px;
	margin-bottom: 5px;
}

#wrapper {
	margin: 0 auto;
}

#stickies {
	margin: 0 auto;
	padding: 0px;
	padding-top: 20px;
	padding-left: 50px;
	width: 750px;
	height: 530px;
	background-image: url('wallofhope-board.png');
	
	z-index:-1;
}

.sticky {
	margin: 0;
	margin-left: -10px;
	margin-right: -10px;
	padding: 10px;
	padding-top: 20px;

	width: 180px;
	height: 170px;
	
	background-repeat: no-repeat;
	float: left;
	text-align: left;
}

.sticky:hover {
	/* Safari & Chrome */
	-webkit-transform: rotate(5deg);

	/* Firefox */
	-moz-transform: rotate(5deg);

	/* IE */
	-ms-transform: rotate(5deg);

	/* Opera */
	-o-transform: rotate(5deg);
}

#sticky-yellow {
	background-image: url('wallofhope-sticky-yellow.png');
}

#sticky-blue {
	background-image: url('wallofhope-sticky-blue.png');
}

#sticky-pink {
	background-image: url('wallofhope-sticky-pink.png');
}

#sticky-green {
	background-image: url('wallofhope-sticky-green.png');
}

#sticky-orange {
	background-image: url('wallofhope-sticky-orange.png');
}

.sticky-text {
	font-family: Chalkduster;
	font-size: 10px;
	color: black;
	word-break: hyphenate;
}

#sticky-text-yellow {
	padding: 10px;
	padding-top: 15px;
	padding-right: 35px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(-9deg);

	/* Firefox */
	-moz-transform: rotate(-9deg);

	/* IE */
	-ms-transform: rotate(-9deg);

	/* Opera */
	-o-transform: rotate(-9deg);
}


#sticky-text-blue {
	padding: 15px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(1deg);

	/* Firefox */
	-moz-transform: rotate(1deg);

	/* IE */
	-ms-transform: rotate(1deg);

	/* Opera */
	-o-transform: rotate(1deg);
}

#sticky-text-pink {
	padding: 17px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(5deg);

	/* Firefox */
	-moz-transform: rotate(5deg);

	/* IE */
	-ms-transform: rotate(5deg);

	/* Opera */
	-o-transform: rotate(5deg);
}

#sticky-text-green {
	padding: 7px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(-6deg);

	/* Firefox */
	-moz-transform: rotate(-6deg);

	/* IE */
	-ms-transform: rotate(-6deg);

	/* Opera */
	-o-transform: rotate(-6deg);
}

#sticky-text-orange {
	padding: 15px;
	padding-top: 15px;
	padding-right: 30px;
	
	/* Safari & Chrome */
	-webkit-transform: rotate(1deg);

	/* Firefox */
	-moz-transform: rotate(1deg);

	/* IE */
	-ms-transform: rotate(1deg);

	/* Opera */
	-o-transform: rotate(1deg);
}

#share {
	margin: 0 auto;
	padding: 20px;
}

#chalkboard {
	margin: 0 auto;

	padding-top: 20px;
	width: 370px;
	height: 180px;

	background-image: url('chalkboard.png');
	background-repeat: no-repeat;
	
	z-index: 1;
}

#message {
	margin-top: 5px;
	margin-right: 0px;
	
	width: 310px;
	height: 65px;
	
	font-family: Chalkduster;
	color: #FFFFFF;
	
	background: transparent;
	border: none;
	resize: none;
	
	//float: left;
}

textarea:focus, textarea:hover {
	border: none;
	outline: 0;
}

#chalk-colors {
	margin: 0px;
	padding: 0px;
	margin-top: -2px;
	margin-right: 20px;
	//float: right;
}

.chalk:hover {
	cursor:pointer
}

#chalk-blue {
	width: 25px;
	height: 25px;

	background-image: url('chalk-blue.png');
	background-repeat: no-repeat;
	
	float: right;
}

#chalk-blue:hover {
	background-image: url('chalk-selected.png');
	background-repeat: no-repeat;
}

#chalk-pink {
	width: 25px;
	height: 25px;

	background-image: url('chalk-pink.png');
	background-repeat: no-repeat;
	
	float: right;
}

#chalk-pink:hover {
	background-image: url('chalk-selected.png');
	background-repeat: no-repeat;
}

#chalk-green {
	width: 25px;
	height: 25px;

	background-image: url('chalk-green.png');
	background-repeat: no-repeat;
	
	float: right;
}

#chalk-green:hover {
	background-image: url('chalk-selected.png');
	background-repeat: no-repeat;
}

#chalk-orange {
	width: 25px;
	height: 25px;

	background-image: url('chalk-orange.png');
	background-repeat: no-repeat;
	
	float: right;
}

#chalk-orange:hover {
	background-image: url('chalk-selected.png');
	background-repeat: no-repeat;
}

#chalk-yellow {
	width: 25px;
	height: 25px;

	background-image: url('chalk-yellow.png');
	background-repeat: no-repeat;
	
	float: right;
}

#chalk-yellow:hover {
	background-image: url('chalk-selected.png');
	background-repeat: no-repeat;
}

.radio {
	float: right;
	margin-right: 50px;
	margin-top: -20px;
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;
    margin: -3px;
} 

input[type=radio] {  
    display: none;  
}

#yellow-label:before {background-image: url('chalk-yellow.png');}
#orange-label:before {background-image: url('chalk-orange.png');}
#green-label:before {background-image: url('chalk-green.png');}
#pink-label:before {background-image: url('chalk-pink.png');}
#blue-label:before {background-image: url('chalk-blue.png');}

label:before {  
    content: "";  
    display: inline-block;  
  
    width: 25px;  
    height: 25px;  
    
    position: absolute;  
}

input[type=radio]:checked + #yellow-label:before {
    background-image: url('chalk-selected.png'), url('chalk-yellow.png');  
}

input[type=radio]:checked + #orange-label:before {
    background-image: url('chalk-selected.png'), url('chalk-orange.png');  
}

input[type=radio]:checked + #green-label:before {
    background-image: url('chalk-selected.png'), url('chalk-green.png');  
}

input[type=radio]:checked + #pink-label:before {
    background-image: url('chalk-selected.png'), url('chalk-pink.png');  
}


input[type=radio]:checked + #blue-label:before {
    background-image: url('chalk-selected.png'), url('chalk-blue.png');  
}